:root { --accessible-beige: #D1C7B8; }
:root { --urbane-bronze: #54504A; }
:root { --alabaster: #F2F0E6;}
:root { --black-of-night: #323639;}
:root { --greenblack: #373a3a;}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header, footer{
    padding: 0.75em;
}

nav, footer {
    background-color: var(--accessible-beige);
}

#home-logo {
    height: auto;
    width: 3em;
}

header {
    margin-top: 10.5em;
    margin-bottom: 1em;
    background-color: var(--urbane-bronze);
    color: var(--accessible-beige);
    border: 20px solid rgb(239, 116, 72);
    border-width: 20px 0;
}

body {
    background-color: rgba(208, 192, 169, 0.9);
    color: var(--alabaster);
}
div {
    display: flex;
    flex-direction: row;
}

section:hover, aside:hover {
    background-color: rgba(55, 58, 58, 0.8);
}

section, aside {
    background-color: var(--greenblack);
    border: 0.01em solid var(--alabaster);
    vertical-align: top;
    margin: 0.5em, 0em;
}

.short-float {
    width: 30%;
}

.long-float {
    width: 70%;
}

.short-float, .long-float {
    text-align: left;
}

.row-right > .short-float, .row-left > .long-float {
    float: right;
}

.row-left > .short-float, .row-right > .long-float {
    float: left;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    top: 0;
    position: fixed;
    padding: 0em 1em;
    z-index: 1000;
    background-color: var(--accessible-beige);
}


#root-page {
    font-size: 250%;
}

.community-title {
    font-size: 300%;
    padding: 1em;
}

aside a {
    text-decoration: none;
    color: var(--alabaster);
}

nav a{
    color: var(--urbane-bronze);
    font-size: 175%;
    font-variant:small-caps;
    text-decoration: none;
    font-weight: bold;
    vertical-align: middle;
    line-height: 1em;
    padding: 0.5em 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 175%;
    display: flex;
    align-items: center;
}

nav ul li {
    position: relative;
    margin-right: 1em;
    color: var(--urbane-bronze);
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--accessible-beige);
    opacity: 85%;
    padding: 0;
    list-style-type: none;
}

nav ul ul li {
    font-size: 0.5em;
    width: 8em;
    margin: 0;
}

nav ul ul li a {
    font-size: 100%;
    padding: 0.5em 1em;
    display: block;
}

nav ul li:hover {
    font-weight: bolder;
}

nav ul li:hover > ul {
    display: block;
}

#about-main {
    margin-top: 10em;
}

#about-me h1, #about-site h1 {
    text-align: center;
}

p > a {
    text-decoration: none;
    color: var(--alabaster);
    font-weight: bolder;
}

main p {
    padding: 1em;
}

ul {
    font-weight: bold;
    list-style-type: none;
}

#rue-space {
    padding: 0em;
    margin: 0em;
    width: fit-content;
}

img:hover, nav a:hover {
    filter: brightness(30%);
    font-weight: bolder;
}

.short-float {
    padding: 2%;
    align-items: center;
}

.short-float:hover {
    opacity: 40%;
}

#rue-photo {
    object-fit: cover;
    
}

.community-title {
    -webkit-text-stroke: 0.1rem var(--black-of-night);
}

.long-float#community-woods {
    background-image: url(../images/woods.jpg);
    background-size: cover;
    filter: blur(0.05em);
}

.long-float#community-trails {
    background-image: url(../images/trail.jpeg);
    background-size: cover;
    filter: blur(0.07em);
}

.long-float#community-village {
    background-image: url(../images/village.png);
    background-size: cover;
    filter: blur(0.05em);
}

footer {
    border-radius: 0em 0em 0.75em 0.75em;
    clear: both;
}

footer p {
    text-align: right;;
    font-style: italic;
    color: var(--urbane-bronze);
}

#woods-main {
    margin-top: 10.5em;
    width: 100%;
    height: auto;
    background-image: url(../images/woods.jpg);
    object-fit: contain;
}

#trails-main, #village-main {
    margin-top: 10.5em;
    width: 100%;
    background: var(--greenblack);
}

table {
    overflow: scroll;
}

table td + td {
    border-left: 0.1em solid var(--urbane-bronze);
}

td, th {
    background-color: var(--greenblack);
    color: var(--alabaster);
    text-align: left;
    min-width: 150px;
    padding: 0.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
}

nav > .community {
    font-size: 2em;
    padding: 0em 5em;
    color: var(--urbane-bronze);
}

.long-float a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--alabaster);
}

@media only screen and (max-width: 1408px) {

}

@media only screen and (max-width: 650px) {

}